@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@font-face {
	font-family: 'FonteLogo';
	src: url('../google-glass/_fonts/bubblegum-sans-regular.otf');
}
header#cabecalho img#icone{
	position: relative;
	left: 740px;
	top: -20px;
}
header#cabecalho{
border-bottom: 1px #606060 solid;
height: 150px;
background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px ;
}
header#cabecalho h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	padding: 0px;
	margin-bottom: 0px;

}
header#cabecalho h2{
	font-family: Arial, sans-serif;
	font-size: 13pt;
	color: #888888;
	padding: 0px;
	margin-top: 0px;
	background-color: #dddddd;
}
body{
	font-family: Arial, sans-serif;
	background-color: #dddddd;
	color: rgba(0, 0, 0, 1);
}
div#interface{
	width: 950px;
	background-color: #ffffff;
	margin: -20px auto 0px auto;    /*cima direita baixo esquerda*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);       /*sombra na caixa */
	padding: 10px;
}
header#cabecalho h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	
}
header#cabecalho h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin-top: 0px;
    }

P{
	text-align: justify;
	text-indent: 50px;
}
a{
	color: #606060;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

/*formatacao de imagens com legenda*/
figure{
    width: 400px;
    height: 200px;
}
figure.foto-legenda{
	display: block;
    border: 8px solid white;
	box-shadow: 1px 1px 4px black;
	position: relative;
}
figure.foto-legenda img{
	height: 200px;
	width: 400px;
}
figure.foto-legenda figcaption{
    opacity: 0;
	position: absolute;
	top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 400px;
    height: 200px;
    padding: 10px ;
    box-sizing: border-box;
}
figure.foto-legenda:hover figcaption {
	opacity: 1;
	transition: opacity 1s;

}
nav#menu{
	display: block;  /*cria bloco flutuante*/
}
/*formatacao do menu*/
nav#menu ul{
	position: absolute;  /*passa por cima do documento, qualquer posicao*/
	top: -20px;
	left: 550px;
	list-style: none;   /*tirar pontinhos do li*/
	text-transform: uppercase; /*letras maiusculas*/
}
nav#menu li{
	display: inline-block;   /*colocar na horizontal*/
	background-color: #dddddd; /*cor do fundo do menu*/
	padding: 10px; /*criar espaço dentro da caixinha*/
	margin: 2px; /*criar espaco fora da caixinha do menu*/
	transition: background-color 1s;   /*segundos ao passar o mouse*/
}
nav#menu li:hover{
	background-color: #606060;
    color: white;
    text-decoration: underline;
}
nav#menu h1{
	display: none;
}
nav#menu a{
	color: #000000;
	text-decoration: none; /*tirar sublinhado do link menu*/
    background-color: #60606023;  
}
nav#menu a:hover{
	color: #ffffff;    /*muda cor da letra*/
	text-decoration: underline;  /*link sublinhad*/

}
section#corpo {
	display:block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060;
    padding: 12px;
}
	article#noticia-principal h2{
		font-size: 12pt;
		color: #606060;
		background-color: #dddddd;
		padding: 5px 0px 5px 10px;
		margin: 10px 0px 10px 0px ;
	}	
	header#cabecalho-artigo h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
	}
	header#cabecalho-artigo h2{
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
	}
	header#cabecalho-artigo h3{
	font-size: 13pt;
	color: #606060;
	}
.direita{
	text-align: center;
}

aside#lateral{
	display: block;
	width: 400px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
aside#lateral h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}
aside#lateral h2{
	background-color: #606060;
	font-family: 'FonteLogo', sans-serif;
	font-size:13pt;
	color: #ffffff;
	padding: 5px;
}
table#tabelaspec{
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}
table#tabelaspec td{
		border: 1px solid #606060;
		padding: 10px;
		text-align:center;
		vertical-align: middle;
}
table#tabelaspec td.ce{
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bolder;
}
table#tabelaspec td.cd{
background-color: #cecece;
}

table#tabelaspec caption{
	color: #888888;
	font-size: 10pt;
	font-weight:bolder;
}
table#tabelaspec caption span{
	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
}


footer#rodape{
	clear: both;    /*limpar a config aside e section-conteudo fora da divisao */
	border-top: 1px solid #606060;
}
footer#rodape p{
	text-align: center;
}
